-#
-# Copyright 2016 Matt Kenney
-#
-# This file is part of Soc.
-#
-# Soc is free software: you can redistribute it and/or modify it under
-# the terms of the GNU Affero General Public License as published by the Free
-# Software Foundation, either version 3 of the License, or (at your option) any
-# later version.
-#
-# Fotocog is distributed in the hope that it will be useful, but WITHOUT
-# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
-# FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
-# details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Soc.  If not, see <http://www.gnu.org/licenses/>.
-#
!!! 5
%html
  %head
    %meta{:charset => 'UTF-8'}/
    %meta{:content => 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no',
          :name=> 'viewport'}/
    / @source:https://github.com/mattkenney/soc
    %title soc
    %link{:href => 'css/style.css', :rel => 'stylesheet'}
  %body.soc_body{:class => ('soc_night' if session[:night])}
    %form{:action => './', :method => 'post'}
      %input{:name => 'id', :type => 'hidden', :value => id_str}
      - contexts.each do |ctx|
        .soc_context
          - if ctx[:is_retweet]
            %b.soc_ref RT
          - else
            %button{:class => 'soc_next', :name => 'n'} &gt;
          %a{:href => ctx[:profile]}= "#{ctx[:name]} (@#{ctx[:screen_name]})"
          &#8211;
          %a{:href => ctx[:url]}= ctx[:created_at]
      .soc_content!= content_html
      - if in_reply_to
        .soc_context
          %b.soc_ref RE
          %button{:class => 'soc_tweet_link',
                  :name => 't',
                  :value => in_reply_to[:url]}= "[@#{in_reply_to[:screen_name]} tweet]"
      .soc_header{:class => ('soc_night' if session[:night])}
        %button{:id => 'n', :name => 'n'} &gt;
        %button{:name => 'f'} &gt;&gt;
        %button{:name => 'e'} &gt;&gt;|
        %button{:name => 'u', :class => 'soc_at'} @
      .soc_footer{:class => ('soc_night' if session[:night])}
        %button{:id => 'p', :name => 'p'} &lt;
        %button{:name => 'b'} &lt;&lt;
        %button{:name => 's'} |&lt;&lt;
        %span{:class => 'soc_status', :id => 'status'}= message
    %script{:src => 'js/script.js'}
