-#
-# Copyright 2016 Matt Kenney
-#
-# This file is part of Soc.
-#
-# Soc is free software: you can redistribute it and/or modify it under
-# the terms of the GNU Affero General Public License as published by the Free
-# Software Foundation, either version 3 of the License, or (at your option) any
-# later version.
-#
-# Fotocog is distributed in the hope that it will be useful, but WITHOUT
-# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
-# FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
-# details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Soc.  If not, see <http://www.gnu.org/licenses/>.
-#
!!! 5
%html
  %head
    %meta{:charset => 'UTF-8'}/
    %meta{:content => 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no',
          :name=> 'viewport'}/
    / @source:https://github.com/mattkenney/soc
    %title soc
    %link{:href => 'css/style.css', :rel => 'stylesheet'}
  %body.soc_body
    %form{:action => '/', :method => 'post'}
      .soc_header
        %button{:name => 'n'} &gt;
        %button{:name => 'f'} &gt;&gt;
        %button{:name => 'e'} &gt;&gt;|
        %button{:name => 'u', :class => 'soc_at'} @
      - contexts.each do |ctx|
        .soc_context
          - if ctx[:is_retweet]
            %b.soc_ref RT
          %a{:href => ctx[:profile]}= "#{ctx[:name]} (@#{ctx[:screen_name]})"
          %a{:href => ctx[:url]}= ctx[:created_at]
      .soc_content!= content_html
      - if in_reply_to
        .soc_context
          %b.soc_ref RE
          %input{:name => 't', :type => 'submit', :value => in_reply_to}
      .soc_footer
        %button{:name => 'p'} &lt;
        %button{:name => 'b'} &lt;&lt;
        %button{:name => 's'} |&lt;&lt;
        %span.soc_status= message
