!!! 5
%html
  %head
    %meta{:charset => 'UTF-8'}/
    %meta{:content => 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no',
          :name=> 'viewport'}/
    %title soc
    %link{:href => 'css/style.css', :rel => 'stylesheet'}
  %body.soc_body
    %form{:action => '/', :method => 'post'}
      .soc_header
        %button{:name => 'n'} &gt;
        %button{:name => 'f'} &gt;&gt;
        %button{:name => 'e'} &gt;&gt;|
        %button{:name => 'u', :class => 'soc_at'} @
      - contexts.each do |ctx|
        .soc_context
          - if ctx[:is_retweet]
            %b.soc_ref RT
          %a{:href => ctx[:profile]}= "#{ctx[:name]} (@#{ctx[:screen_name]})"
          %a{:href => ctx[:url]}= ctx[:created_at]
      .soc_content!= content_html
      - if in_reply_to
        .soc_context
          %b.soc_ref RE
          %input{:name => 't', :type => 'submit', :value => in_reply_to}
      .soc_footer
        %button{:name => 'p'} &lt;
        %button{:name => 'b'} &lt;&lt;
        %button{:name => 's'} |&lt;&lt;
        %span.soc_status= message
